pandas
sqlalchemy
psycopg2-binary
streamlit
python-dotenv
openai
llama-index
llama-index-llms-gemini
llama-index-embeddings-huggingface
langchain
langchain-google-genai
nest_asyncio
google-generativeai
